---
type Heading = {
  depth: number;
  slug: string;
  text: string;
};

type Props = {
  headings: Heading[];
  title?: string;
  maxDepth?: number;
};

const { headings, title = '目录', maxDepth = 3 } = Astro.props;
const items = (headings ?? []).filter((h) => h.depth >= 2 && h.depth <= maxDepth);
---

{items.length ? (
  <aside class="toc" aria-label="Table of contents">
    <div class="toc__title">{title}</div>
    <ol class="toc__list">
      {items.map((h) => (
        <li class={`d${h.depth}`}>
          <a href={`#${h.slug}`}>{h.text}</a>
        </li>
      ))}
    </ol>
  </aside>
) : null}
